header {
  width: 95%;
  height: 300px;
  margin: auto;
  background: no-repeat center/100%
    url(http://stayathome-syllabus.greenfox.academy/week01/assets/first-website-header.png);
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 60px;
}
div.container > h3 {
  font: bold 40px "Abril Fatface";
  margin-bottom: 0 px;
  
}
div.container > h1 {
  font: bold 60px "Abril Fatface";
  padding: 0px;
}

main
{
  width: 50%;
  margin-left: auto; 
  margin-right: auto;
  line-height: 1.3;
}

.introduction {
  margin: 60px 50px 60px 50px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  line-height: 30px;  
}
ul {
  list-style-type: square;
  line-height: 1.3;
}

p, li
{
  font-family: "Josefin Sans", sans-serif;
  font-size:15px;
}

blockquote {
  background: #444444;
  color: white;
  font-family: "Abril Fatface", cursive;
  display: flex;
  position: relative;
  padding-left: 50px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  
}
.quote { 
font-size: 50px;
font-family: "Abril Fatface", cursive;
 padding-top: 0;
}
.quote:before
{
  content: '“';
  position: absolute;
  top: -10px;
  left: 0;
  font-size: 140px;
 }
.achievement {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  font-family: "Josefin Sans", sans-serif;
   line-height: 30px;  
  list-style-type: square;
  line-height: 1.3;
}

.allcaps {
 text-transform: uppercase; 
 font-size: 30px;
}

.experience {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  font-family: "Josefin Sans", sans-serif;
  line-height: 30px;  
  list-style-type: square;
  line-height: 1.3;
}

h3 {
 font-family: 'Merriweather', serif;
 font-style: italic;
 font-size: 15px;
 margin-bottom: 0;
 margin-top: -10px;
}

.allcaps2 {
 text-transform: uppercase; 
 font-size: 30px;
  border-top: solid;
  padding-top: 15px;
}